* {box-sizing: border-box;}

.c {
    border: 2px solid #f76707;
    border-radius: 5px;
    background-color: #fff4e6;
}

.ui.container > .c {
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    color: #d9480f;
}
.c {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}
img{
    width: 100%;
    height: 100%;
}